USE [master]
GO
/****** Object:  Database [Nubimetrics]    Script Date: 17/2/2021 11:37:53 ******/
CREATE DATABASE [Nubimetrics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nubimetrics', FILENAME = N'C:\Users\Manuel\Nubimetrics.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nubimetrics_log', FILENAME = N'C:\Users\Manuel\Nubimetrics_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nubimetrics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nubimetrics]
GO
USE [Nubimetrics]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17/2/2021 11:37:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
